{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
<h1>Kisan muokkaus</h1>

<form method="post" action="{{base_path}}/race/{{race.id}}/edit">
    <div class="checkbox">
        <label>
            <input type="checkbox" name="raced" value="{{race.raced}}">
            Kisattu
        </label>
    </div>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="name" class="form-control" value="{{race.name}}">
    </div>
    <div class="form-group">
        <label>Kisapäivä</label>
        <input type="text" name="raceday" class="form-control" value="{{race.raceday}}">
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control" name="description">{{race.description}}
        </textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
<p>
    {{forms.destroy_button("#{base_path}/race/#{race.id}/destroy")}}
</p>
{% endblock %}