{% extends "base.html" %}
{% block content %}

<h1>{{race.name}}</h1>



<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kuvaus</th>
            <th>Kisapäivä</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>{{race.description}}</td>
            <td>{{race.raceday}}</td>
            <td>
                {% if race.raced %}
                <label class="label label-success">kisa ohi
                    {% else %}
                    <label class="label label-danger">tuleva
                        {% endif %}
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Lähtölista</th>
                                    <th>Maa</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for racer in racers %}
                                <tr>
                                    <td>{{racer.name}}</td>
                                    <td>{{racer.country}}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <form method="post" action="{{base_path}}/race/{{race.id}}">
                            <div class="form-group">
                                <label>Lisää osallistuja</label>
                                <select class="form-control" name="racer">
                                    {% for racer in notinrace %}
                                    <option value="{{racer.id}}">{{racer.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
     
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Lisää</button>
                            </div>
                        </form>
                        {% endblock %}