{% extends "base.html" %}
{% block content %}
  <h1>TULOSPALVELU</h1>

  <h1>Menneitä kisoja</h1>
  <table>
    <thead>
      <tr>
        <th>taulukko</th>
        <th>Taulukko</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Bootstrap</th>
        <th>Taulukko</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
    </tbody>
  </table>
{% endblock %}