{% extends "base.html" %}
{% block content %}
  <h1>kisan muokkaus</h1>

  <form>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Pelattu
      </label>
    </div>
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="Rajamäki-Hiihto">
    </div>
    <div class="form-group">
      <label>Kisapäivä</label>
      <input type="text" class="form-control" value="21.3.2015">
    </div>
    <div class="form-group">
      <label>Status</label>
      <input type="text" class="form-control" value="tuleva">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea class="form-control">  blablabala
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}